<div class="main-content">

    <p-toast position="top-right"></p-toast>

    <div class="card" style="padding: 50px;margin: 50px;">

        <div class="logo" style="margin: auto;">
            <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
        </div><br>

        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

            <input type="text"
            ngModel
            name="user_name"
            id="user_name"
            placeholder="{{ 'login.username' | translate }}"
            class="form-control mb-3"
            >

            <input type="password"
            ngModel
            name="user_password"
            id="user_password"
            placeholder="{{ 'login.password' | translate }}"
            class="form-control mb-3"
            >

            <input type="submit"
            value="{{ 'login.button' | translate }}"
            class="btn btn-outline-primary form-control rounded-0">

        </form>
    </div>
</div>