<div class="main-content">
    <p-toast position="top-right"></p-toast>
    <div class="card" style="padding: 15px;margin-bottom: 10px;margin-left: 10px;margin-right: 10px;">

        <h1 style="color:rgb(0, 77, 128);
		text-align:center;">
            Admin Dashboard
        </h1>

        <p-table #dt [value]="products" [globalFilterFields]="['name']" [paginator]="true" [rows]="5" dataKey="id"
            editMode="row" [tableStyle]="{'min-width': '50rem'}">

            <ng-template pTemplate="caption">
                <div class="table-header">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal(handleClick($event), 'contains')"
                            placeholder="Search Products..." />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="img">
                        Image <p-sortIcon field="img"></p-sortIcon>
                    </th>

                    <th pSortableColumn="sku">
                        SKU <p-sortIcon field="sku"></p-sortIcon>
                    </th>
                    <th pSortableColumn="name">
                        Product <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="unitPrice">
                        Price <p-sortIcon field="unitPrice"></p-sortIcon>
                    </th>
                    <th pSortableColumn="date">
                        Date <p-sortIcon field="date"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="product">

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.imageUrl" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                <img src="{{ product.imageUrl }}" style="width: 100px;height: 100px;">
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.sku">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.sku}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.name" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                <a (click)="show(product.id)"  style="color: black;">{{product.name}}</a>
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.unitPrice">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.unitPrice | currency: 'USD'}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.dateCreated">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.dateCreated | date}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                (click)="onRowEditInit(product, ri)" class="p-button-rounded p-button-text"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                (click)="onRowEditSave(product, ri)"
                                class="p-button-rounded p-button-text p-button-success mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                (click)="onRowEditCancel(product, ri)"
                                class="p-button-rounded p-button-text p-button-danger"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


